.home {
  width: 50%;
  height: 400px;
  color: white;
  font-weight: bold;
  background-color: #9e91c1;
  border-radius: 20px;
  padding: 20px;
}

.home input {
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.home form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home .time {
  width: 50px;
}

.home .basenavale,
.home .km {
  width: 100px;
}

.block_input {
  display: flex;
  flex-direction: column;
}
