.form_retour {
    display: flex;
}


.block_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basenavale, .km {
    padding: 5px;
}

.input_retour {
    display: flex;
    justify-content: center;
    width: 100%;
}

.time {
    padding: 5px;
    width: 16.5%;
}