.button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #283747;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.btn_retour {
    padding: 5px;
    cursor: pointer;
}